.container {
    width: 40%;
    height: 505px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-right: 41px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header > h3 {
    font-size: 18px;
    color: #2B308B;
    font-weight: 600;
}

.listaBeneficiarios {
    height: 420px;
    overflow-y: auto;
    /* padding-left: 4px; */
}

.listaBeneficiarios::-webkit-scrollbar-thumb {
    background: #2B308B;
    border-radius: 5px;
}

.listaBeneficiarios::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #aaa; 
    border-radius: 5px;
}

.cardBeneficiario {
    border: 2px solid #dadada;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 6px;
    margin-right: 3px;
}

.cardTop, .cardCenter, .cardBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2B308B;
    font-weight: 600;
}

.cardTop {
    cursor: pointer;
    color: #5A81FA;
}

.cardCenter {
    margin: 15px 0;
}

.title {
    font-size: 12px;
    color: #404D61;
}