.container {
    width: 574px;
    height: 525px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 41px;
}

.title {
    color: #2B308B;
    font-size: 25px;
    font-weight: 600;
}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.groupChild { display: flex; flex-direction: column;}

.groupChild > input {
    width: 217px;
    padding: 10px;
}
.groupChild > label, .full_input > label { color: #404D61; font-weight: 500;}

.full_input { margin: 10px 0; }

.full_input > input{ padding: 10px; }

.typeNumber > input {
    width: 120px;
}

.buttons {
    margin-top: -0.3rem;
    display: flex; 
    justify-content: flex-end;
}

.buttons > button {
    width: 195px;
    padding: 13px 20px;
    border-radius: 25px;
    color: #fff;
}
