.container {
    width: 574px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 3rem;
    margin-left: 41px;
}

.title {
    color: #2B308B;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 23px;
}

.group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.groupChild { display: flex; flex-direction: column;}

.groupChild > input {
    width: 217px;
    padding: 10px;
}
.groupChild > label, .full_input > label { color: #404D61; font-weight: 500;}
.full_input { margin: 10px 0; }
.full_input > input{ padding: 10px; }

.buttons {
    margin-top: 1.5rem;
    display: flex; 
    justify-content: space-between;
}

.buttons > button {
    width: 195px;
    padding: 13px 20px;
    border-radius: 25px;
}

.buttons > button:nth-child(1) {
    border: 1px solid #5A81FA;
    background: #CEDEFF;
    color: #000;
}